<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: BlanchedAlmond; font-family: Arial; color: #000; padding: 30px;}
            h1{text-decoration: none;}
        </style>
        
    </head>
    <body>
        <header>
            <%-include('nav.ejs') %>
        </header>
        <h1>
            CONTACT US
        </h1>
        <p>
            Thanks for your feedback!
        </p>
        <p>
            We will reply you soon! <%= data.who %>
        </p>
    </body>
</html>