<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: BlanchedAlmond; font-family: Arial; color: #000; padding: 30px;}
            h1{text-decoration: none;}
        </style>
        
    </head>
    <body>
        <header>
            <%-include('nav.ejs') %>
        </header>
        <h1>
            CONTACT US
        </h1>
        <p>
            Please drop down your details and problems
        </p>
        <form id="contact-form" method="POST" action="/contact">
            <label for="who">Name:</label>
            <input type="text" name="who" placeholder="Your Name..." value="<%= qs.person %>">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Your Email..." value="<%= qs.email %>">
            <label for="issue">Problem:</label>
            <input type="text" name="issue" placeholder="What is your problem..." value="<%= qs.issue %>">
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>