<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: Arial; color: #000; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 20px; text-align: center;}
        </style>
    </head>
    <body>
        <header>
            <%- include('nav.ejs') %>
        </header>
        
        <div>
            <h1> Game Wallet </h1>

            <p> The BEST game wallet in the world!</p>

            <button type="submit">Generate!</button>
            <button type="submit"><a href="/login">Login</a></button>
        </div>
    </body>
</html>