<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: BlanchedAlmond; font-family: Arial; color: #000; padding: 30px;}
            h1{text-decoration: none;}
        </style>
        
    </head>
    <body>
        <header>
            <%-include('nav.ejs') %>
        </header>
        <h1>
            ABOUT ME
        </h1>
        <p>
            Graduate from National Chiao Tung University with Bachelor Degree of Computer Science
        </p>
        <p>
            I am a fresher in this industry and currently looking forward to making a career which i can build and develop positive relationships with people. I am optimistic 
            have a dynamic personality and love to work as a Team in the workplace. I am very particular about my schedule and always manage my time 
            efficiently so as to fit everythin without any overlaps.
        </p>

        <p>
            I worked 1 year at Realtek Semiconductor Malaysia as Software Engineer major task on the Failure Analysis on Android TV code. Analyze the problem
            and send to develop team to reimplement the code. Currently my project is to create an Automate system for Google Android Test Suite on the Android TV 
            to run itself and doing a serial of failure checking.
        </p>
    </body>
</html>